<h2>Patients of Doctor</h2>

<input type="number" [(ngModel)]="doctorId" placeholder="Enter Doctor ID">
<button (click)="getDoctorPatients()" class="button-gap">Get Patients</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Doctor ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of doctorPatients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.doctorId }}</td>
    </tr>
  </tbody>
</table>